html,body {
			background-color: #333;
			color: #fff;
			font-family: helvetica, arial, sans-serif;
			margin: 0;
			padding: 0;
			font-size: 12pt;
}
		
#canvas {
			position: absolute;
			left: 0;
			right: 0;
			top: 10px;
			margin: auto;
      z-index: 1;
      
}

.ui{
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
  margin: auto;
  width: 1440px;
  height: 900px;
  z-index: 1000;
  font-family: "futura-pt";
  overflow: hidden;
  
}

#velocity{
  color: red;
}

#brakes{
	text-align: center;
	position: absolute;
	color: #fffff3;
	background-color: #9f1d1d;
	font-size: 10pt;
}

.planetInfoText{
	position: relative;
	color: #fffff3;
	text-align: center;
}

.planetName{
	position: relative;
	font-size: 20pt;
	letter-spacing: 5px;
	padding-top: 180px;
	-webkit-transition: padding-top 1s ease-out;
	-moz-transition: padding-top 1s ease-out;
	-o-transition: padding-top 1s ease-out;
	transition: padding-top 1s ease-out;
}

.planetName-changed{
	padding-top: 40px;
}

.planetWelcome{
	position: absolute;
	text-align: center;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 2px;
	width: 400px;
	padding-top: 28px;
	display: none;
}

.planetIconRow{
	position: absolute;
	width: 400px;
	text-align: center;
	margin-top: -8px;
	display: none;
}

.planetDescription{
	position: relative;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 35px;
	font-size: 12px;
	font-style: italic;
	font-weight: 400;
	display: none;
}